<form  action="/user/create" method="post">
  <h1>Create User</h1>
  <input type="text" name="username" value="" placeholder="username">
  <input type="text" name="user_gender" value="" placeholder="user_gender">
  <input type="submit" name="" value="Create User">
</form>
